<div class="container" style="margin-top: 80px;">

  <h1 class="color text-center capitalize text-4xl md:pl-0 py-6">
    New Shipment
  </h1>

		<%= render 'form', shipment: @shipment %>

		<%= link_to 'Back', shipments_path, class: "btn btn-danger" %>

</div>
